.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: sans-serif;
}

.month {
  width: 350px;
}

.month-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.clickable:hover {
  cursor: pointer;
  color: red;
}

.month-headers {
  font-weight: bold;
}

.month-row {
  display: flex;
}

.month-square {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
}

button {
  height: 30px;
}

.year-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.year-row {
  display: flex;
}

.day-headers {
  display: flex;
}

.day-headers div {
  margin-right: 3px;
}

.day-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.quarter .hour,
.minutes {
  padding: 10px 0px;
}

.hour {
  display: flex;
  align-items: flex-end;
  font-weight: bold;
  font-size: 24px;
}

.evening {
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 3px;
  margin-left: 2px;
}

.minutes {
  margin-bottom: 10px;
}

.quarter-line {
  width: 200px;
  height: 1px;
  background: black;
}

.week-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.week {
  display: flex;
}

.weekday {
  margin-right: 10px;
}

.weekday-header {
  display: flex;
  justify-content: space-between;
}
